<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>&lt;3</title>
    <link rel="stylesheet" href="/static/style.css">
    <link rel="shortcut icon" href="/static/logo/stickyheart-64.png" type="image/png">
    <script src="/static/colors.js"></script>
    <script src="/static/main.js"></script>
</head>

<body pagesloaded="{{LOADED}}">
    <!--<div class="page">
        <div>September 2, 2025</div>
        <p>
            Lorem ipsum, dolor sit amet consectetur adipisicing elit. Excepturi qui minus eveniet asperiores alias
            dolorem cum esse odio laborum, quisquam expedita voluptatem sed officiis ducimus natus voluptatum soluta ad
            deleniti.
            awefawef
        </p>
    </div>-->
    <img src="/static/logo/stickyheart-128.png" class="corner-icon">
    <div class="selcontext popover" style="display: none;">
        <button onclick="addComment()"><img src="/static/icons/add_comment.svg"></button>
        <button onclick="copySelection()"><img src="/static/icons/copy.svg"></button>
    </div>
    <div class="commentbox popover" style="display: none;">
        This is a commentbox.
    </div>
    <div class="commentprompt popover" style="display: none;">
        <input type="text" placeholder="Add your thoughts...">
        <button onclick="postComment()"><img src="/static/icons/send.svg"></button>
    </div>
    <div class="copied popover" style="display: none;">
        Copied.
    </div>
    {% for message in MESSAGES %}
    <div class="page {{message['notecolor']}}" pageid="{{message['id']}}">
        <div class="date">{{message["date"]}}</div><br>
        <p>{{message["text"]|safe}}</p>
    </div>
    {% endfor %}
    {% if SHOWBUTTON %}
    <button class="load-more" onclick="loadMorePosts()" {{DISABLEBUTTON}}>
        Load more ({{REMAINING}} left)
    </button>
    {% endif %}
</body>

</html>