<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>&lt;3 | login</title>
    <link rel="stylesheet" href="/static/style.css">
    <link rel="shortcut icon" href="/static/logo/stickyheart-64.png" type="image/png">
    <script src="/static/colors.js"></script>
</head>

<body>
    <img src="/static/logo/stickyheart-128.png" class="corner-icon">
    <div class="page default login" style="width:700px;">
        <form action="/api/v1/login" method="POST">
            <h1>Sign in</h1>
            <input type="password" name="password" placeholder="Password:" required>
            <button type="submit">Log in</button>
        </form>
    </div>
</body>

</html>